.btn1 {
  position: relative;
  width: 150px;
  height: 50px;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #e4d578;
  border: 1px solid #a89d71;
  cursor: pointer;
  transition: 0.3s linear;
  box-shadow: inset -1px -5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px 20px 30px 40px;
}

.btn1 span {
  width: 76px;
  font-size: 0.9rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn1:hover {
  background: #f0e391;
  border: transparent;
  animation: curved-border 2s linear infinite;
}

.btn1:hover span {
  animation: sliding-text 2s linear infinite;
}

.btn1:link {
  color: rgb(57, 83, 57);
}

.btn1:visited {
  color: rgb(50, 54, 50);
}

@keyframes sliding-text {
  0% {
    left: 50%;
  }
  25% {
    left: calc(75% - 20px);
    top: 20px;
  }
  50% {
    left: 50%;
    top: 25px;
  }
  75% {
    left: calc(25% + 20px);
    top: 30px;
  }
  100% {
    left: 50%;
  }
}

@keyframes curved-border {
  12.5% {
    border-radius: 10px 10px 15px 40px;
  }
  25% {
    border-radius: 10px 5px 10px 40px;
  }
  37.5% {
    border-radius: 10px 15px 15px 40px;
  }
  50% {
    border-radius: 8px 20px 30px 25px;
  }
  62.5% {
    border-radius: 6px 20px 30px 15px;
  }
  75% {
    border-radius: 4px 20px 30px 10px;
  }
  87.5% {
    border-radius: 8px 20px 30px 30px;
  }
  100% {
    border-radius: 10px 20px 30px 40px;
  }
}
